<body >
      <!-- <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      </div> -->
<div class="success_page">
    <div class="box"> 
        <span>Order Confirmed <mat-icon class="mt-2">check</mat-icon></span>
        <!-- <img class="img-fluid" src="assets/img/banner-order.jpg" alt="Image" > -->
        <div class="success alert">
          <div class="alert-body">
            Success !
          </div>
        </div>
          <!-- <div class="error alert">
            <div class="alert-body">
              Error !
            </div>
        </div> -->
      </div>
</div>

</body>