
<body>
    <!-- Topbar Start -->
    <app-header></app-header>
    
      <!-- Topbar End -->
      <div class="container-fluid mb-5">
          <div class="row border-top px-xl-5">
              <div class="col-lg-3 d-none d-lg-block dropdown">
                <a _ngcontent-ng-c1744632311="" data-bs-toggle="" aria-expanded="false" class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" style="height: 65px; margin-top: -1px; padding: 0 30px;"><h6 _ngcontent-ng-c1744632311="" class="m-0">Categories</h6></a>
                  <!-- <ul class="dropdown-menu  overflow-hidden" style="height: 410px; width: 92%; transform: translate3d(15.2px, 63.4px, 0px);" aria-labelledby="dropdownMenuButton1">
                      <div class="nav-item dropdown position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                          <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
                          <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                              <a href="" class="dropdown-item">Men's Dresses</a>
                              <a href="" class="dropdown-item">Women's Dresses</a>
                              <a href="" class="dropdown-item">Baby's Dresses</a>
                          </div>
                      </div>
                      <a href="" class="nav-item nav-link">Shirts</a>
                      <a href="" class="nav-item nav-link">Jeans</a>
                      <a href="" class="nav-item nav-link">Swimwear</a>
                      <a href="" class="nav-item nav-link">Sleepwear</a>
                      <a href="" class="nav-item nav-link">Sportswear</a>
                      <a href="" class="nav-item nav-link">Jumpsuits</a>
                      <a href="" class="nav-item nav-link">Blazers</a>
                      <a href="" class="nav-item nav-link">Jackets</a>
                      <a href="" class="nav-item nav-link">Shoes</a>
                    </ul> -->
                   <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                      <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                          <div class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                  Dresses
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item"  (click)="navigateToShop(1)">Men's Dresses</a></li>
                                <li><a class="dropdown-item"  (click)="navigateToShop(2)">Women's Dresses</a></li>
                                <li><a class="dropdown-item"  (click)="navigateToShop(3)">Baby's Dresses</a></li>
                              </ul>
                          </div>
                          <a  (click)="navigateToShoppage(1)" class="nav-item nav-link">Shirts</a>
                          <a  (click)="navigateToShoppage(2)" class="nav-item nav-link">Jeans</a>
                          <a  (click)="navigateToShoppage(3)" class="nav-item nav-link">Swimwear</a>
                          <a  (click)="navigateToShoppage(4)" class="nav-item nav-link">Sleepwear</a>
                          <a  (click)="navigateToShoppage(5)" class="nav-item nav-link">Sportswear</a>
                          <a  (click)="navigateToShoppage(6)" class="nav-item nav-link">Jumpsuits</a>
                          <a  (click)="navigateToShoppage(7)" class="nav-item nav-link">Blazers</a>
                          <a  (click)="navigateToShoppage(8)" class="nav-item nav-link">Jackets</a>
                          <a  (click)="navigateToShoppage(9)" class="nav-item nav-link">Shoes</a>
                      </div>
                  </nav>
              </div>
              <div class="col-lg-9">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active" style="height: 410px;" data-bs-interval="2000">
                              <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="Image">
                              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                  <div class="p-3" style="max-width: 700px;">
                                      <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                      <h3 class="display-4 text-white font-weight-semi-bold mb-4">fahionable Dress</h3>
                                      <a [routerLink]="['/shop']" class="btn btn-light py-2 px-3">Shop Now</a>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item" style="height: 410px;" data-bs-interval="2000">
                              <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="Image">
                              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                  <div class="p-3" style="max-width: 700px;">
                                      <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                      <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                      <a [routerLink]="['/shop']" class="btn btn-light py-2 px-3">Shop Now</a>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item" style="height: 410px;" data-bs-interval="2000">
                              <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="Image">
                              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                  <div class="p-3" style="max-width: 700px;">
                                      <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                      <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                      <a [routerLink]="['/shop']" class="btn btn-light py-2 px-3">Shop Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a class="carousel-control-prev" data-bs-target="#carouselExampleInterval" data-slide="prev">
                          <div class="btn btn-dark" style="width: 45px; height: 45px;">
                              <span class="carousel-control-prev-icon mb-n2"></span>
                          </div>
                      </a>
                      <a class="carousel-control-next" data-bs-target="#carouselExampleInterval" data-slide="next">
                          <div class="btn btn-dark" style="width: 45px; height: 45px;">
                              <span class="carousel-control-next-icon mb-n2"></span>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
 
    <!-- Featured Start -->
    <div class="featured-start">
        <div class="container-fluid pt-5">
            <div class="row px-xl-5 pb-3">
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
                    <div class="d-flex align-items-center border mb-4 bg-white" style="padding: 30px;">
                        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center border mb-4 bg-white" style="padding: 30px;">
                        <h1 class="fa fa-truck text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center border mb-4 bg-white" style="padding: 30px;">
                        <h1 class="fa fa-exchange text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center border mb-4 bg-white" style="padding: 30px;">
                        <h1 class="fa fa-phone text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-4 col-md-6 pb-1" (click)="navigateToShop(1)">
                <div class="cat-item d-flex flex-column border mb-4 box" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[1]}}</p>
                    </div>
                    
                    <a  class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid"  src="assets/img/cat-1.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Men's dresses</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1" (click)="navigateToShop(2)">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[2]}}</p>
                    </div>
                    <a  class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid"  src="assets/img/cat-2.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Women's dresses</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1"  (click)="navigateToShop(3)">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[3]}}</p>
                    </div>
                    <a  class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid"  src="assets/img/cat-3.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Baby's dresses</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1" (click)="navigateToShop(4)">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[4]}}</p>
                    </div>
                    <a  class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid"  src="assets/img/cat-4.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Accerssories</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1"  (click)="navigateToShop(5)">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[5]}}</p>
                    </div>
                    <a  class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="assets/img/cat-5.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Bags</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1"  (click)="navigateToShop(6)">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 0px; box-shadow: 0px 0px 4px 0px #cf9999;">
                    <div class="count_p">
                        <p>Total Products: {{count[6]}}</p>
                    </div>
                    <a class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid"  src="assets/img/cat-6.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold p-3 text-center">Shoes</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories End -->


    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="assets/img/offer-1.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                        <a  [routerLink]="['/shop']" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="assets/img/offer-2.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                        <a  [routerLink]="['/shop']" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let st of trendyData">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                        <img [routerLink]="['/detail', st.id]" [src]="st.product_image.startsWith('http') ? st.product_image : 'http://127.0.0.1/eshopper/backend/public/'+ st.product_image" class="img-fluid w-100" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{st.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{st.price}}</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a [routerLink]="['/detail', st.id]" class="btn btn-sm text-dark p-0"><i class="fa fa-eye text-primary mr-1"></i>View Detail</a>
                        <a  class="btn btn-sm text-dark p-0"><i class="fa fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- Products End -->


    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let st of justArrivedData">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">

                        <img [routerLink]="['/detail', st.id]" [src]="st.product_image.startsWith('http') ? st.product_image : 'http://127.0.0.1/eshopper/backend/public/'+ st.product_image" class="img-fluid w-100" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{st.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{st.price}}</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a [routerLink]="['/detail', st.id]" class="btn btn-sm text-dark p-0"><i class="fa fa-eye text-primary mr-1"></i>View Detail</a>
                        <a  class="btn btn-sm text-dark p-0"><i class="fa fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- Products End -->
    <button
  type="button"
  class="btn btn-primary btn-floating  scroll-icon back-to-top"
  id="btn-back-to-top"
  (click)="scrollToTop()"
>
  <i class="fa fa-angle-double-up"></i>
</button>

<app-footer></app-footer>
    

</body>
